.body {
    background-color: black;
    padding: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.container {
    width: 220px;
    perspective: 1000px;
}

.carousel {
    transform-style: preserve-3d;
    animation: rotate 70s linear infinite;
}

.carousel figure img{
    position: absolute;
    width: 100%;
    image-rendering: auto;
    box-sizing: border-box;
}

.carousel:hover {
    animation-play-state: paused;
}

.carousel figure img:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}
.carousel figure img:nth-child(2) {
    transform: rotateY(45deg) translateZ(300px);
}
.carousel figure img:nth-child(3) {
    transform: rotateY(90deg) translateZ(300px);
}
.carousel figure img:nth-child(4) {
    transform: rotateY(135deg) translateZ(300px);
}
.carousel figure img:nth-child(5) {
    transform: rotateY(180deg) translateZ(300px);
}
.carousel figure img:nth-child(6) {
    transform: rotateY(225deg) translateZ(300px);
}
.carousel figure img:nth-child(7) {
    transform: rotateY(270deg) translateZ(300px);
}
.carousel figure img:nth-child(8) {
    transform: rotateY(315deg) translateZ(300px);
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}
