.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1vw;
    background-color: #A8B65E;
    height: 8vh;
}

.nav-bar .btn1 {
    display: flex;
    align-items: center;
    height: 5vh;
    background-color: #A8B65E;
    border: none;
    font-size: 1vw;
    font-weight: bold;
    padding: auto;
    position: relative;
}

.nav-bar .btn1 span {
  margin-right: 15px;
}

.nav-bar .btn1 img {
width: 2vw;
height: 5vh;
}

.nav-bar .btn2 {
    width: 7vw;
    height: 5vh;
    color: white;
    background-color: #A8B65E;
    border: none;
    font-size: 1vw;
    font-weight: bold;
    position: relative;
}
.nav-bar .btn3 {
    width: 9vw;
    height: 5vh;
    color: white;
    background-color: #A8B65E;
    border: none;
    font-size: 1vw;
    font-weight: bold;
    position: relative;
}
.nav-bar .btn4 {
    width: 9vw;
    height: 5vh;
    background-color: #A8B65E;
    border: none;
    font-size: 1vw;
    font-weight: bold;
    position: relative;
}
.nav-bar .btn5 {
    width: 4vw;
    height: 6vh;
    background-color: #A8B65E;
    border: none;
    font-size: 1vw;
    font-weight: bold;
    position: relative;
}



.nav-bar button:hover {
  color: rgb(42, 165, 149);
}

.nav-bar button::after {
  content: '';
  height: 4px;
  width: 100%;
  background: rgb(42, 165, 149);
  position: absolute;
  left: 0;
  bottom: 5px;
  opacity: 0;
  transition: all 0.2s;
  pointer-events: none;
}

.nav-bar button:hover::after {
  opacity: 1;
}


.shopping-cart {
    width: 2vw;
    height: 4vh;
    opacity: 0.5;
}


#modal-modal-description{
    text-align: justify;
    align-content: center;
    font-family: 'Gochi Hand', cursive;
    font-size: large;
  }
  
  #modal-modal-title {
    text-align: center;
    font-family: 'Gochi Hand', cursive;
    font-size: xx-large;
  
  
  }

  #modal-button{
    background-color: #E75F5E;
    font-family: 'Gochi Hand', cursive;
    border-radius: 15px;
    text-transform: lowercase;
    font-size: 20px;
    
  }
  
  #modal-button:hover {
    background-color: #93563A;
  
  }

  .individual-order img {
    height: 50px;
    width: 50px;

  }

.modal {
  display: flex;
  flex-direction: column;
}



.modalproduct img {
  width: 50px;
  height: 50px;
}

.modalproduct {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


