

.oneproduct img{
width: 30vw;
height: 60vh;
}
.oneproduct {
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-direction: row;
    column-gap: 10vw;
    padding-left: 10vw;
}

.right {
    font-size: 20px;
    padding-right: 5vw;
    padding-top: 10vh;
}

.review-input form {
    border-style: solid;
    width: 32vw;
    display: flex;

}

.review-input form input {
    border: none;
    width: 26vw;
    height: 10vh;
}
.review-input form button {
    border: none;
    width: 5vw;
    height: 10vh;
    background: none;
    border-left: 20px;
}
.review-input form button img {
    width:2vw;
    height: 4.3vh;

}
/* .review-input form button img:hover {
    scale: 0.5;
    color: blue;
} */

.individual-review {
    /* border-style: solid; */
    border-bottom: solid;
    padding-left: 2vw;
}

.old-reviews {
    width: 32.3vw;
    height: 30vh;
    overflow-y: scroll;
}