/* .modalproduct img {
    width: 7vw;
    height: 10vh;
  }
  
  .modalproduct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20vw;
    margin-right: 20vw;
  } */

  .past-order {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid;
  }