/* .modalproduct img {
    width: 7vw;
    height: 10vh;
  }
  
  .modalproduct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20vw;
    margin-right: 20vw;
  } */

  .past-order {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: solid;
  }

  .order button{
    width: 10vw;
    margin-left: 90vw;
    height: 3.5vh;
    border-radius: 20px;
    border: none;
    background-color: #f0c14b;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }