.display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0;
    padding-top: 10vh;
    width: 90vw;
    padding-left: 5vw;
    height: 80vh;
    overflow-y: auto;

}

.display-individual img{
    width: 20vw;
    height: 35vh;
    /* padding-left: 2vw; */
}

.display-individual {
    font-size: 1.3vw;
    border-style: dotted;
    border-radius: 20px;
    padding: 10%;
    /* width: 30vw; */
    height: 50vh;
    margin: 2vw;
    /* background-color: #e5e5f7;
opacity: 0.8;
background-image: radial-gradient(circle at center center, #444cf7, #e5e5f7), repeating-radial-gradient(circle at center center, #444cf7, #444cf7, 10px, transparent 20px, transparent 10px);
background-blend-mode: multiply; */

}

/* .outer {
    height: 90vh;
    overflow-y: auto;
} */


