.display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0;
    padding-top: 10vh;
    width: 90vw;
    padding-left: 5vw;
}

.display-individual img{
    width: 20vw;
    height: 35vh;
    padding-left: 2vw;
}

.display-individual {
    border-style: dotted;
    padding: 10%;
    /* width: 30vw; */
    height: 50vh;
}


