.display {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 0;
    padding-top: 10vh;
    width: 90vw;
    padding-left: 5vw;
    height: 75vh;
    overflow-y: auto;

}

.display-individual img{
    width: 20vw;
    height: 35vh;
    border-radius: 10px;
    /* padding-left: 2vw; */
}

.display-individual {
    font-size: 1.3vw;
    border-radius: 20px;
    padding: 10%;
    /* width: 30vw; */
    height: 50vh;
    margin: 2vw;
}

.search-bar {
    width: 100vw;
    align-items: center;
    padding-left: 31vw;
    padding-top: 3vh;
}

.search-bar form button{
    width: 10vw;
    margin-left: 2vw;
    height: 3.5vh;
    border-radius: 20px;
    border: none;
    background-color: #f0c14b;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.search-bar form button:hover {
    background-color: #ddb347; /* Hover color */
}

.search-bar form input{
    width: 20vw;
    height: 3vh;
    border-radius: 20px;
    text-align: center;
    border: none;
    background-color: #f3f4f6;
    color: #111;
}



