/* sidebar */
.sidebar {
    position: absolute;
    /* top: 0px; */
    bottom: 0;
    left: -20vw;
    height: 95vh;
    width: 20vw;
    transition: left 0.3s ease-in-out;
    background-color: #7D5328;
    text-align: center;
  }

  .category-filter {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0.5vw;
    align-items: center;
    text-align: center;
  }

  .category {
    align-items: center;
    justify-content: center;
  }
  
  .slidebar-content .btn {
    text-align: center;
    bottom: 0vh;
    width: 16vw;
    margin-left: 1.5vw;
    height: 5vh;
    font-size: 1.3vw;
    margin-bottom: 1vh;
    border-radius: 8px;
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
  }

  .sidebar-content {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .slider {
    padding-left: 2.5vw;
  }
  
  .slider button {
    margin-left: 1vw;
    border-radius: 8px;
    height: 3vh;
  }
  
  .sidebar-toggle {
    position: absolute;
    top: 10vh;
    /* bottom: 0vh; */
    right: -60px;
    height: 60px;
    width: 60px;
    z-index: 1;
  }
  .content {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 100%;
    transition: right 0.3s ease-in-out;
    background-color: lightgray;
  }
  .sidebar.open {
    left: 0;
  }
  .content.open {
    left: 20vw;
  }

  .sidebar-img {
    width: 2vw;
    height: 2vw;
  }

.price-btn button{
    height: 5vh;
    width: 3vw;
    border-radius: 100px;
}


.price-btn {
    /* gap: 1vw; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 1vw;
}
    
.price h3 {
  color: white;
}

.category h3 {
 color: white;
}