/* sidebar */
.sidebar {
    position: absolute;
    bottom: 0;
    left: -20vw;
    height: 90vh;
    width: 20vw;
    transition: left 0.3s ease-in-out;
    background-color: white;
    text-align: center;
  }

  .category-filter {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 0.5vw; 
    padding-left: 0.5vw;
    align-items: center;
    text-align: center;
  }

  .category button {
    color: #907709;
    background-color: white;
    font-weight: bold;
    border: none;
  }
  
  .category-filter button:hover {
    background-color: #907709;
    color: white;
    transition: 0.5s;
  }
  .slidebar-content .btn {
    width: 16vw;
    margin-left: 1.5vw;
    height: 5vh;
    font-size: 1.3vw;
    margin-bottom: 1vh;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .sidebar-content {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .slider {
    padding-left: 2vw;
  }
  
  .slider button {
    margin-left: 1vw;
    border-radius: 8px;
    height: 3vh;
  }
  
  .sidebar-toggle {
    position: absolute;
    top: 10vh;
    /* bottom: 0vh; */
    right: -60px;
    height: 60px;
    width: 60px;
    z-index: 1;
  }
  .content {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 100%;
    transition: right 0.3s ease-in-out;
    background-color: lightgray;
  }
  .sidebar.open {
    left: 0;
  }
  .content.open {
    left: 20vw;
  }

  .sidebar-img {
    width: 2vw;
    height: 2vw;
  }

.price-btn button{
    height: 5vh;
    width: 3vw;
    border-radius: 100px;
}


.price-btn {
    /* gap: 1vw; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 1vw;
}
    
.price h3 {
  color: rgb(155, 44, 44);
}

.category h3 {
 color: rgb(175, 42, 42);
}


/* navbar */
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

/* navbar */
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

header nav a{
  text-decoration: none;
  padding: 12px 30px;
  border-radius: 25px;
  color: #5C4033;
  font-size: 20px;

}

header nav a:hover{
  background-color: #93563A;
  color: white;
  

}


header nav a.active {
  background: var(--primary);
  color: #5C4033;
}


